.cards > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
}

.cards h2 {
    font-size: var(--heading-font-size-l);
}

.cards > ul > li {
    border: 1px solid var(--highlight-background-color);
    background-color: var(--background-color)
}

.resources > ul {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.resources .cards-card-image, .resources .cards-card-image a:link, .resources .cards-card-image a:visited {
    background-color: #006554;
    color: white;
}

.services-3 .cards > ul {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.cards .cards-card-body {
    margin: 16px;
}

.cards .cards-card-image {
    line-height: 1.3;
}

.cards .cards-card-body > *:first-child {
    margin-top: 0;
}

.circles .cards-card-image img {
   transition: transform .2s ease-in-out;
}

.circles .cards-card-image:hover img {
    transform: scale(1.1) rotate(10deg);
}

.circles .cards-wrapper {
    padding-top: 50px;
}

.circles figcaption {
    padding-top: 10px;
}
