.cards > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
}

.cards h2 {
    font-size: var(--heading-font-size-l);
}

.services-3 .cards > ul {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.cards > ul > li {
    border: 1px solid var(--highlight-background-color);
    background-color: var(--background-color)
}

.cards .cards-card-body {
    margin: 16px;
}

.cards .cards-card-image {
    line-height: 0;
}

.cards .cards-card-body > *:first-child {
    margin-top: 0;
}

.cards > ul > li img {
    width: 100%;
    object-fit: cover;
}

.circles .cards-card-body a:link, .circles .button-container a:link {
    border: none;
    text-transform: unset;
    padding: unset;
    font-weight: normal;
    letter-spacing: unset;
}

.circles .cards-wrapper {
    padding-top: 50px;
}

.circles h3 {
    font-weight: normal;
    color: #006554;
}
