/* stylelint-disable no-descending-specificity */
main .columns-container {
    padding: 0;
}

.columns > div {
    display: flex;
    flex-direction: column;
}

.columns img {
    width: 100%;
}

.hittrax h2 {
    margin: 0;
}

.icons-text {
    padding: 20px 0;
}

.icons-text > div div {
    border-bottom: 1px solid;
    border-color: var(--overlay-background-color);
}

.icons-text > div div:last-child {
    border-bottom: 0;
    }

.icons-text, .icons-text a:link {
    font-size: var(--body-font-size-xxs);
    font-weight: normal;
}

.icons-text strong {
    font-size: var(--body-font-size-s);
    font-weight: 700;
}

.icons-text ul {
    list-style-type: none;
    width: 40px;
    height: 75px;
    float: left;
    padding-inline-start: 0;
    padding-top: 10px;
    padding-left: 16px;
}

.section.fragment-container .columns-container {
    padding: 0;
    }

.section.fragment-container .columns-wrapper:nth-child(2) {
    max-width: 100%;
    background-color: var(--highlight-background-color);
    }

.columns.half-dark > div {
    background-color: var(--highlight-background-color);
}

.columns.hittrax > div div:nth-child(2) {
    display: flex;
    justify-content: center;
    flex: 2;
    max-width: 100%;
    overflow: hidden;
    margin-right: unset;
}

.columns.hittrax > div div:nth-child(2) picture img{
    max-width: unset;
}

.columns.hittrax > div > div:nth-child(1) {
    flex: 1;
    padding: 32px;
}

.columns.half-dark, .columns.icons-text {
    max-width: 1600px;
    margin: 0 auto;
    }

.columns.half-dark h2 {
    font-size: var(--heading-font-size-l);
}

.columns.half-dark p span.icon {
    display: block;
    float: left;
    width: 45px;
}

.columns.half-dark  > div div:nth-child(1) {
    padding: 0 20px 40px;
}

.columns.half-dark  > div div:nth-child(1) ul {
    list-style-type: none;
    width: 250px;
    float: right;
}

.columns.half-dark  > div div:nth-child(2) {
    background-color: var(--text-color);
    color: var(--background-color);
    padding: 0 20px 40px 85px;
}

.columns.half-dark > div div:nth-child(2)::before {
    content: "";
    position: absolute;
    margin-top: -40px;
    margin-left: -125px;
    border-style: solid;
    border-width: 40px;
    border-color: transparent var(--highlight-background-color) transparent transparent;
    transform: rotate(45deg);
}

.columns.half-dark  > div div p, .columns.half-dark > div div ul li {
    font-size: var(--body-font-size-xxs);
}

.columns.half-dark  > div div p strong, .columns.half-dark > div div ul strong {
    font-size: var(--body-font-size-s);
}

.columns.half-dark > div div:nth-child(2) p a {
    color:  var(--background-color);
}

.center {
    text-align: center;
}

.columns.icons-text a:link {
    border: none;
    text-transform: unset;
    padding: unset;
    font-weight: normal;
    letter-spacing: unset;
    text-decoration: underline;
}

.columns.icons-text > div {
    padding: 20px 0 15px;
}

.columns.icons-text p {
    margin-bottom: 0;
    }

.columns.icons-text .button-container {
    padding: 0 0 10px 40px;
    margin-top: 0;
}

.columns.hittrax > div {
    flex-direction: column-reverse;
}

.columns.hittrax .button-container a {
    width: 100%;
}

@media (min-width: 900px) {
    .columns > div {
        display: flex;
        flex-direction: unset;
    }

    .columns.hittrax > div {
        flex-direction: row;
    }

    .columns.hittrax .button-container {
        margin-bottom: 0;
        }

    .columns.hittrax .button-container a {
        width: unset;
    }

    .columns > div > div {
        flex: 1;
    }

    .columns.hittrax > div div:nth-child(2) {
        max-width: 60%;
    }

    .columns.hittrax > div div:nth-child(2) picture img{
        max-width: unset;
        height: 500px;
        width: 980px;
    }

    .columns.half-dark, .columns.icons-text {
        max-width: 1600px;
        margin: 0 auto;
        padding: 0 32px;
    }

    .columns.icons-text > div div {
        margin-right: 20px;
        border-right: 1px solid;
        border-bottom: 0;
        border-color: var(--overlay-background-color);
    }

    .columns.icons-text > div > div:last-child {
        border-right: 0;
    }
}
