.section.news-ticker-container{
    padding: 0;
    top: 0;
    height:48px;
    position: absolute;
    width: 100%;
    overflow: hidden;
    background-color: var(--ticker-color);
}

.news-ticker {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;

}

.news-ticker a {
    color: #fff;
    text-decoration: underline;
}

.news-ticker > div {
    color: #fff;
    flex-shrink: 0;
width: 100%;
    height: 100%;
  position: absolute;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2px 0;
    transform: translateX(100%);
}

.news-ticker > div:first-child {
    transform: translateX(0%);
}

.news-ticker > div.animated {
    transition: 0.5s ease all;
}

.news-ticker button {
    background: none;
    border: 0;
    margin: 0;
    display: inline;
    font-size: 1.2rem;
    text-decoration: underline;
    text-transform: uppercase;
    border-radius: 0;
    padding: 9px 15px;
}
