/* stylelint-disable no-descending-specificity */
header .nav-wrapper {
  background-color: var(--background-color);
  width: 100%;
  z-index: 2;
}

header nav {
  box-sizing: border-box;
  display: grid;
  grid-template:
    'hamburger brand tools' var(--nav-height)
    'sections sections sections' 1fr / auto 1fr auto;
  align-items: center;
  gap: 0 2em;
  margin: auto;
  max-width: 100%;
  height: var(--nav-height);
  font-family: var(--body-font-family);
}

header nav[aria-expanded=true] {
  grid-template:
    'hamburger brand' var(--nav-height)
    'sections sections' 1fr
    'tools tools' var(--nav-height) / auto 1fr
  'ubermenu ubermenu' 1fr;
  overflow-y: auto;
  min-height: 100vh;
}

@media (min-width: 900px) {
  header nav {
    display: block;
    justify-content: space-between;
  }

  header nav[aria-expanded=true] {
    min-height: 0;
    overflow: visible;
  }
}

header nav p {
  margin: 0;
  line-height: 1;
  padding: 5px 0 0 20px;
}

header nav a:any-link {
  color: currentcolor;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
}

header nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--background-color);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded=false] .nav-hamburger-icon,
header nav[aria-expanded=false] .nav-hamburger-icon::before,
header nav[aria-expanded=false] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded=false] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded=false] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded=true] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded=true] .nav-hamburger-icon::before,
header nav[aria-expanded=true] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded=true] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

@media (min-width: 900px) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

/* brand */
header .nav-brand {
/*  grid-area: brand;
  flex-basis: 128px;

 */
  font-size: var(--body-font-size-xs);
  font-weight: 700;
  line-height: 1;
  background: #006554;
  color: var(--background-color);
  padding: 20px;
  text-align:center;
}

header nav .nav-brand img {
  width: 128px;
  height: auto;
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  display: none;
  visibility: hidden;
  background-color: var(--highlight-background-color);
  font-size: var(--body-font-size-xxs);
  padding: 10px;
}

header nav .nav-sections p a{
  text-decoration: unset;
}

header nav[aria-expanded=true] .nav-sections {
  display: block;
  visibility: visible;
  align-self: start;
}

header nav .nav-sections ul  {
  list-style: none;
  padding-left: 0;
  font-size: var(--body-font-size-s);
  font-weight: 500;
}

header nav .nav-sections ul > li {
  font-weight: 700;
}

header nav .nav-sections ul > li > ul {
  margin-top: 0;
}

header nav .nav-sections ul > li > ul > li {
  font-weight: 500;
}

@media (min-width: 900px) {
  header nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  header nav[aria-expanded=true] .nav-sections {
    display: flex;
    height: 30px;
    justify-content: flex-end;
    max-width: 1600px;
    margin: 0 auto;
  }

  header nav .nav-sections .nav-drop {
    position: relative;
    padding-right: 16px;
    cursor: pointer;
  }

  header nav .nav-sections .nav-drop::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: .5em;
    right: 2px;
    transform: rotate(135deg);
    width: 6px;
    height: 6px;
    border-radius: 0 1px 0 0;
    border-width: 2px 2px 0 0;
  }

  header nav .nav-sections .nav-drop[aria-expanded=true]::after {
    top: unset;
    bottom: .5em;
    transform: rotate(315deg);
  }

  header nav .nav-sections ul {
    display: flex;
    gap: 2em;
    margin: 0;
    font-size: var(--body-font-size-xs);
  }

  header nav .nav-sections > ul > li {
    flex: 0 1 auto;
    position: relative;
    font-weight: 500;
  }

  header nav .nav-sections > ul > li > ul {
    display: none;
    position: relative;
  }

  header nav .nav-sections > ul > li[aria-expanded=true] > ul {
    display: block;
    position: absolute;
    left: -1em;
    width: 200px;
    margin-top: 12px;
    padding: 1em;
    background-color: var(--highlight-background-color);
    white-space: initial;
  }

  header nav .nav-sections > ul > li > ul::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--highlight-background-color);
  }

  header nav .nav-sections > ul > li > ul > li {
    padding: 8px 0;
  }
}

/* tools */
header nav .nav-tools {
  grid-area: tools;
  display: flex;
  justify-content: flex-end;
  max-width: 1600px;
  margin: 0 auto;
}

header nav .nav-tools ul {
  list-style-type: none;
  font-size: var(--body-font-size-xxs);
}

header nav .nav-tools ul:nth-child(2) {
  flex:2;
  border-radius: 30px;
  border: 1px solid #999;
}

header nav .nav-tools ul strong {
  font-size: var(--body-font-size-s);
}

/* ubermenu */
header nav .nav-ubermenu {
  grid-area: ubermenu;
  display: flex;
  justify-content: space-around;
  padding: 18px 0;
  margin: 10px auto;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: var(--overlay-background-color);
  font-size: var(--body-font-size-xs);
  max-width: 1600px;
}

header nav .nav-ubermenu a {
  text-decoration: none;
  padding: 15px;

}

header nav .nav-ubermenu a:hover {
  border-bottom: #bb5811 7px solid;
  font-weight: 700;
}
