/* parallax block */
main .parallax-container {
    padding: 0;
}

main .parallax-background {
    overflow: hidden;
    background-size: 160%;
    width: 100%;
    height: auto;
    padding: 20px 0;
    background-position-x: center;
    background-position-y: -200px;
}

main .parallax-background > div {
    background-color: rgb(0 0 0 / 60%);
    color: var(--background-color);
    padding: 0 20px;
    text-align: center;
    width: 550px;
    float: right;
}

main .parallax-background h2 {
    font-family: var(--font-family-secondary);
    font-size: var(--heading-font-size-xxl);
}

@media (min-width: 1280px) {
    main .parallax-background {
        overflow: hidden;
        background-size: 140%;
        width: 100%;
        height: auto;
        padding: 20px 0;
        background-position-x: center;
        background-position-y: -200px;
    }
}
