footer {
  padding: 20px;
  background-color: var(--overlay-background-color);
  font-size: var(--body-font-size-xxs);
}

footer .footer {
  max-width: 1600px;
  text-align: center;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

footer .footer ul {
  list-style-type: none;
}

footer .footer li {
width: 85%;
}



@media (min-width: 900px) {
  footer {
    padding: 2rem;
  }

  footer .footer ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
  }
}
