footer {
  background-color: var(--overlay-background-color);
  font-size: var(--body-font-size-xxs);
}

footer a:hover {
  text-decoration: none;
  border-bottom: 1px solid var(--nav-underline-color);
  }

footer .footer {
  text-align: center;
  margin: auto;
}

footer .footer ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.links-drop-wrapper {
  background: var(--background-color);
  border-bottom: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
  }

.footer-store-links, .footer-copyright {
  max-width: 1400px;
  margin: 0 auto;
  line-height: 3em;
  padding: 0 16px;
  }

footer .links-drop ul {
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: height 0ms 400ms, opacity 400ms 0ms;
  cursor: pointer;
  }

footer .footer-copyright ul {
  display: flex;
  justify-content: space-between;
  margin-top: unset;
  margin-bottom: unset;
  }

.footer-store-links ul > li .icon-chevron-right {
  padding: 5px 10px;
  display: inline-flex;
  vertical-align: top;
  transform: rotate(90deg);
  transition: 300ms;
  }

.footer-store-links ul > li[aria-expanded=true] > ul {
  padding-top: 15px;
  height: auto;
  opacity: 1;
  transition: height 0ms 0ms, opacity 600ms 0ms;
  }

.footer-store-links ul > li[aria-expanded=true] .icon-chevron-right {
  transform: rotate(-90deg);
  transition: 400ms;
  }

.links-drop strong {
  font-size: var(--body-font-size-s);
  }

.links-drop {
  border-bottom: 1px solid var(--border-color);
  padding: 20px;
  cursor: pointer;
  }

.links-drop:last-of-type {
  border-bottom: 0;
  }

.footer-copyright p {
  text-align: center;
  }

.footer-copyright li {
  padding: 10px;
  }

.store-links p a:link {
  font-size: var(--body-font-size-xxs);
  align-items: normal;
  text-decoration: none;
  }

@media (min-width: 900px) {
  footer .footer ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-top: unset;
    margin-bottom: unset;
  }

  footer .footer li {
    width: 85%;
    }

  .footer-store-links {
    text-align: left;
    padding: 30px;
    }

  footer .links-drop ul {
    padding-inline-start: 0;
    margin-top: 0;
    visibility: visible;
    display: unset;
    height: unset;
    overflow: visible;
    opacity: 1;
    }

  .footer-copyright {
    margin: 0 auto;
    text-align: left;
    padding: 30px;
    }

  .links-drop {
    border: none;
    }

  .footer-store-links ul > li .icon-chevron-right {
    display: none;
    }
}
